{{!
Citation for the main handlebar starter code:
Date: 02/12/2026
Source URL: https://canvas.oregonstate.edu/courses/2031764/pages/exploration-web-application-technology-2?module_item_id=26243419
Type: Starter code / application
Author: Oregon State University
Notes:
We used this template for reference
}}

{{!Adapted from the provided main.hbs starter code}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/characters">Characters</a>
    <a href="/encounters">Encounters</a>
    <a href="/characters_encounters">Character Encounters</a>
    <a href="/turns">Turns</a>
    <a href="/health_logs">Health Logs</a>
    <a href="/status_effects">Status Effects</a>
    <form method="POST" action="/reset-database">
    <button type="submit">RESET DATABASE</button>
    </form>
  </nav>

  <hr>

  {{{body}}}

</body>
</html>





