<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/characters">Characters</a>
    <a href="/encounters">Encounters</a>
    <a href="/characters_encounters">Character Encounters</a>
    <a href="/turns">Turns</a>
    <a href="/health_logs">Health Logs</a>
    <a href="/status_effects">Status Effects</a>
    <form method="POST" action="/reset-database">
    <button type="submit">RESET DATABASE</button>
    </form>
  </nav>

  <hr>

  {{{body}}} <!-- This is where each page content will render -->

</body>
</html>





