<h1>{{title}}</h1>

<p>   Welcome to the D&D Dashboard!.</p>

<h2>Project Info</h2>
<ul>
  <li><strong>Authors:</strong> Christopher Tran and Tyler Schauermann</li>
  <li><strong>Description:</strong> A dashboard to track characters, encounters, turns, health changes, and status effects for Dungeons & Dragons campaigns.</li>
  <li><strong>TO TEST THE RESET FUNCTIONALITY PLEASE GO TO THE characters_encounters PAGE AND PERFORM ANY CRUD OPERATION</strong></li>

</ul>

<h2>Pages</h2>
<div class="page-buttons">
    <a href="/" class="btn">Home</a>
    <a href="/characters" class="btn">Characters</a>
    <a href="/encounters" class="btn">Encounters</a>
    <a href="/characters_encounters" class="btn">Character Encounters</a>
    <a href="/turns" class="btn">Turns</a>
    <a href="/health_logs" class="btn">Health Logs</a>
    <a href="/status_effects" class="btn">Status Effects</a>
</div>
